/* body {
    text-align: center;
} */

*{
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    filter: blur(3px);
}

.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.sign-in img{
    background-size: cover;
}


.sign-in h1{
    color: pink;
    font-size: 50px;
}

.logo-text{
    color:white;
    font-family: YAEsdnpVGjo-1;
    font-size: 100px;
    line-height:0.89664238em;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:-0.075em;
    filter:drop-shadow(0em 0em 0.01968781em rgba(80, 16, 23, 0.950000)) drop-shadow(0em 0em 0.09843906em rgba(80, 35, 40, 0.750000)) drop-shadow(0em 0em 0.29531719em rgba(80, 35, 40, 0.440000));
    transform:translateZ(0px);
    position: absolute;
    top: 280px;
}

.logo-text2{
    color: #000000;
    font-size: 23px;
    font-family: YAEp1GBiByE-0;
    line-height: 1.37252586em;
    text-align: center;
    text-transform: none;
    letter-spacing: -0.075em;
    filter: drop-shadow(0em 0em 0.021125em rgba(26, 24, 24, 0.950000)) drop-shadow(0em 0em 0.105625em rgba(26, 26, 26, 0.750000)) drop-shadow(0em 0em 0.316875em rgba(26, 26, 26, 0.440000));
    position: absolute;
    top: 370px;
}

.button-login{
    display: inline-block;
    color: white;
    justify-content: center;
    bottom: 245px;
    position: absolute;
}

.button-login a{
    text-decoration: none;
    color: white;
}
.btn{
	display: inline-block;
	background: #251816;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px; 
	transition: background 0.5s;
}
.btn:hover{
	background: #c59e9e;
}

.Footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.Footer p{
	color: #8a8a8a; 
}
.Footer h3{
	color: #fff;
	margin-bottom: 20px;
}
.Footer-col-1, .Footer-col-2, .Footer-col-3, .Footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.Footer-col-1{
	flex-basis: 30%;
}
.Footer-col-2{
	flex:  1;
	text-align: center;
}
.Footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.Footer-col-3, .Footer-col-4{
	flex-basis: 12%;
	text-align: center;
}
ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
.Footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}
