marquee{
    animation: text 3s infinite linear;
    border-style: solid;
    display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: 2.0rem;
        letter-spacing: 0.06rem;
        justify-content: center;
        position: relative;
        top: 50px;
        left: 100px;
        /* font-family: var(--font-body-family); */
        font-family: Transducer_Regular;
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight)
    
}
@keyframes text {
    0% {
        background-image: radial-gradient(rgb(209, 68, 209), rgb(199, 130, 191), rgb(196, 153, 207));
    }
    25% {
        background-image: radial-gradient(rgb(160, 151, 212), rgb(158, 109, 128), rgb(177, 126, 182));
    }
    50% {
        background-image: radial-gradient(rgb(192, 141, 177), rgb(175, 141, 171), rgb(207, 152, 205));
    }
    75% {
        background-image: radial-gradient(rgb(189, 128, 173), rgb(185, 115, 157), rgb(201, 138, 192));
    }
    100% {
        background-image: radial-gradient(rgb(226, 141, 194), rgb(185, 113, 161), rgb(148, 99, 128));
    }
}

@keyframes example {
    0% {
        background-image: radial-gradient(rgb(43, 13, 99), rgb(50, 20, 184), rgb(46, 47, 105));
        transform: rotate(0deg) scale(0.5);
    }
    25% {
        background-image: radial-gradient(rgb(38, 47, 172), rgb(40, 77, 158), rgb(73, 66, 175));
        transform: rotate(0deg) scale(1.0);
    }
    50% {
        background-image: radial-gradient(teal, turquoise, skyblue);
        transform: rotate(180deg) scale(1.5);
    }
    75% {
        background-image: radial-gradient(rgb(67, 88, 150), blue, mediumblue);
        transform: rotate(270deg) scale(1.0);
    }
    100% {
        background-image: radial-gradient(rgb(12, 75, 117), rgb(67, 85, 109), rgb(85, 144, 233));
        transform: rotate(360deg) scale(0.5);
    }
}