@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Libre+Baskerville&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville';
    background-color: black;
}

nav{
    width: 100vw;
}


nav ul li{
    background-color: black;
    padding: 8px;
}

nav ul li a{
    text-decoration: none;
    padding: 8px;
    font-size: 12px;
    margin: 10px;
    color: white;
}

nav ul li a:hover{
    background: white;
    border-radius: 20px;
    color: black;
}
nav ul li a:focus{
    background: white;
    border-radius: 20px;
    color: black;
}

