@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Libre+Baskerville&family=Poppins:wght@100&display=swap');
*{
    background-color: black;
    font-family: 'Libre Baskerville';
}
nav{
    width: 100vw;
}
nav ul{
    padding-inline-start: 0;
}

nav ul li{
    background-color: rgb(0, 0, 0);
    padding: 8px;
}

nav ul li a{
    text-decoration: none;
    padding: 8px;
    font-size: 12px;
    margin: 10px;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    background: rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(6, 6, 6);
    
}

nav ul li a:focus{
    background: #c59191;
    border-radius: 20px;
    color: white;
}

.isi{
    display: none;
}
.isi a{
    transition: all 0.5s;
}
.dropdown:hover .isi{
    display: block;
    background: rgb(0, 0, 0);
    border-radius: 20px;
}

.isico{
    display: none;
}
.isico a{
    transition: all 0.5s;
}
.dropdown:hover .isico{
    display: block;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.isiki{
    display: none;
}
.isiki a{
    transition: all 0.5s;
}
.dropdown:hover .isiki{
    display: block;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(228, 164, 164);
}

.isiac{
    display: none;
}
.isiac a{
    transition: all 0.5s;
}
.dropdown:hover .isiac{
    display: block;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.dropdown a{
    display: block;
    font-size: 15px;
}
